.upperBar {
    background-color: #8067b5;
}

.upperBar .categories {
    display: inline-block;
    padding: 10px 20px;
    background-color: #03588c;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.upperBar .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 5%;
}

.upperBar .searchbar form {
    display: flex;
}

.upperBar .searchbar form > * {
    padding: .5rem;
    border-width: 0;
}

.upperBar .searchbar form > input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.upperBar .searchbar form > input:focus-visible {
    outline: 0;
}

.upperBar .searchbar form > button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.upperBar .container {
    display: flex;
    flex-direction: column;
}

.categories  {
    margin: 5% 0%;
    padding: 10px 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.categories:hover {
    background-color: #3e8e41}




.categories:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.offerte_novita{
    margin: 5%;
    color: white;
    font-family: 'Roboto', arial;
    border: #03588c;
}

