.navbar-nav .nav-item .nav-link {
    color: lightgray;
    text-align: center;
}

.navbar-nav .nav-item.active .nav-link, .navbar-nav .nav-item:hover .nav-link {
    background-color: #331900;
    background-color: #CB6600
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    background: #000000;
}

.active-cyan-2 input[type=text]:not([readonly]) {
    border-bottom: 1px solid #000000;
    box-shadow: 0 1px 0 0 #000000;
    background: rgb(20,20,20);
    border-color: transparent;
    color: lightgrey;
}

.msearch
{
    margin-bottom: 20px;
    margin-right:0px;
}

.carticon
{
    margin-left: 35px;
    margin-right: 0px;
    color:#E07D00;
}

a:link
{
    color:#E07D00;
}

.searchbox
{
    max-width:180px;
}

#dropdownMenu1
{
    margin-left:50px;
}