body
{
    background-color: #9e8dc4;
}

.Slogan{
    text-align: center ;
    color: #FFFFFF;
    font-family: Roboto;
}

/*necessita versione per mobile*/
.container1{
    display: -ms-flexbox;
    background-color: #8067b5;
    child-align: middle;

}

/*non fa allineare tutte le div insieme*/
.col1{
    margin-left: 5%;
    max-width: 90%;
}
#regbutton{
    margin-left: 25%;
}
.h2{
    margin-left: 30%;
}
.hint-text{
    margin-left: 15%;

}
