
body{
    background-color: #9d8cc0;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {

    background-color: #055686;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;

}
.columnsystem
{
    margin-bottom:150px;
    margin-left: 150px;
}
.fixedtable {
    table-layout: fixed;
    word-wrap: break-word;
    text-align: left;
    color:lavender;
}
div.loginform {
    padding: 5px;
}

div#mlrightcol {
    border-left: 1px;
}

div#mlcenter {
    margin-bottom: 200px;
    margin-top: 30px;
}
.btn:hover {
    background-color: #25ed21;}
.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #8067b5;
    padding: 20px 0px 20px 100px;
    align-items: center;
}
 /*LOGIN*/
.body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: arial;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Navbar Part */

.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #8067b5;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header-logo img {
    width: 84px;
    height: 84px;
    margin-right: auto;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

/* Hero Part */

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #9e8dc4;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero-cta {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero-cta p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

.hero button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #055686;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.hero-image img {
    width: 500px;
    height: 350px;
}



/* Sign Up Part */
.sign-up {
    background-color: #055686 ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.sign-item {
    flex: 1;
}

.signs-text {
    text-align: left;
}

.signs-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.signs-button button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #4b56b4;
    padding: 5px 25px;
    font-size: 15px;
}






