@CHARSET "UTF-8";
body{
    background-color: #9e8dc4;
}

.Slogan{
    text-align: center ;
    color: #FFFFFF;
    font-family: Roboto;
}

.anagrafica{
    background-color: #8067b5;
    color: #FFFFFF;
    padding: 5%;
    border-radius: 10%;
}

.indirizzi{
    margin-left: 5%;
    background-color: #8067b5;
    padding: 3%;
    border-radius: 10%;
}

.indirizzo{
    color: #FFFFFF;
    padding: 2%;
    border-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.metodi{
    margin-left: 5%;
    background-color: #8067b5;
    padding: 3%;
    border-radius: 10%;
}

.metodo{
    color: #FFFFFF;
    padding: 2%;
    border-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.client-but  {
    display: inline-block;
    padding: 10px 20px;
    background-color: #03588c;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.client-but:hover {
    background-color: #033656;
}

.hiddenForm{
    background-color: #8067b5;
    color: #FFFFFF;
    padding: 2%;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    margin-top: 3%;
}